<nav class="navbar flex">
            <div id="logo">
                <img src="images/cloudy.png" alt="Logo">
                <span>WeatherApp</span>
            </div> 
            <ul class="flex">
                <li><a href="/">Home</a></li>
                <li><a href="/weather">Weather</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>