<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
    <link rel="stylesheet" href="css/404css.css">
</head>
<body>
    <div class="main-container">
        {{>navbar}}

        <div class="main-body-container flex">
            <div class="content-container flex">
                <img src="images/404.png" alt="bgImage">                
                <p class="para1">Welcome to the WeatherApp</p >
                <p class="para2">Get the Latest <span>Weather</span> info of your City</p >
                <a href="/"><button id="btn_1">Check Now</button></a>
            </div>
        </div>
    </div>

    {{>footer}}
</body>
</html>