<!DOCTYPE html>
<html lang="en">
<head>
{{>headerLinks}}
    <link rel="stylesheet" href="css/style2.css">
</head>
<body>
    <div class="main-container">
        {{>navbar}}

        <div class="main-body-container flex">
            <div class="content-container flex">
                <p class="para1">Welcome to the WeatherApp</p >
                <p class="para2">I'm <span>Puru Raghuwanshi</span> and I'm Studying <span>MERN Stack</span> and This is my Project.</p >
                <a href="/weather"><button  id="btn_1">Check Now</button></a>
            </div>
            <div class="image-container flex">
                <img src="images/bg-3.png" alt="bgImage">                
            </div>
        </div>
    </div>

        {{>footer}}

</body>
</html>