<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
<link rel="stylesheet" href="css/style.css">

</head>
<body>
    <div class="main-container">
        {{>navbar}}

        <div class="main-body-container flex">
            <div class="content-container flex">
                <p class="para1">Welcome to the WeatherApp</p >
                <p class="para2">Get the Latest <span>Weather</span> info of your City</p >
                <button id="btn_1">Check Now</button>
            </div>
            <div class="image-container flex">
                <img src="images/bg-2.png" alt="bgImage">                
            </div>
        </div>
    </div>

    {{>footer}}
</body>
</html>